
<div class="shadow p-3 mb-5 bg-white rounded">
    <h2>Leads</h2>
  <table class="table table-bordered">
    <thead class="default-table-heading">
      <tr>
        <th *ngFor='let c of columns'>
          {{ c }}
        </th>
      
      </tr>
    </thead>
    <tbody class="default-table-content">
        <tr *ngFor='let l of leads'>
            <th>
               <a  [routerLink]="['/leads/lead-details', l.id]">{{ l.id }}</a> 
            </th>
            <th>
                {{ l.col1 }}
              </th>
              <th>
                  {{ l.col2 }}
                </th>
    </tbody>
  </table>
</div>

