<app-header-collapse></app-header-collapse>

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" (click)='loadLeadDetails("INTERACTIONS")'>INTERACTIONS</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" (click)='loadLeadDetails("RECPRODUCTS")'>REC PRODUCTS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)='loadLeadDetails("PRODUCTSTATS")'>PRODUCT STATS</a>
    </li>
</ul>

<div [ngSwitch]="operation">
  <div *ngSwitchCase="'INTERACTIONS'">
      <lead-interactions ></lead-interactions>
  </div>
  <div *ngSwitchCase="'RECPRODUCTS'">
    <lead-product-stats></lead-product-stats>
  </div>
  <div *ngSwitchCase="'PRODUCTSTATS'">
    <lead-recommanded-produtcs></lead-recommanded-produtcs>
  </div>
</div>

